body{margin: 0;}

section{
    border: 1px solid blue;
}

canvas{
    width:80%;
    display: block;
    border: 1px solid purple;
    margin: auto;
    background: #004d1a;
    border: 15px solid #604020;
    border-radius: 5px;
}


#colors{
    padding:10px;
}

#clearTools{
    padding: 10px;
}

button{
    border:0;
    border-radius: 5px;
    height:20px;
    width:15%;
    background-color:  #7700b3;
    color:#ffffff;
    box-shadow: 0 5px #999;
}

button:active {
  transform: translateY(3px);
}

#colors{
    width:800px;
    display: block;
    margin: auto;
    padding: 5px;
    
}
#headerBoard{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color:#009900;
}

#white{background: #ffffff;}

#red{background: #ff0000;}

#green{background: #66ff66;}

#yellow{background: #ffff00;}

#blue{background: #4d94ff;}

#clearTools{
    
    display: block;
    width:800px;
    margin:auto;
}